/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

*{
    scroll-behavior: smooth;
}
.focus:focus{
    color: #7190F0;
}

body{
        background-color: black;
        color: #fff;
}
.primary-color{
    color: #7190F0;
}

.blue-bg{
    background-color: #7190F0;
}


.landing-page-animation{
    animation: land 0.6s linear ;
    /* animation: text 1s linear; */
    transition: 1s;
    /* animation-delay: 1.5s; */
}

@keyframes land {
    from{
       transform: translateY(-100px);
       opacity: 0;

    }

    to{
      
        transform: translateX(0);
        opacity: 100%;
    }



}

@keyframes text {
    from{
        transform: translatey(50px);
    }
}


.landing-page-animation-img{
    animation: land1 0.5s linear ;
    transition: 2s;
}

@keyframes land1 {
    0%{
       transform: translateX(100px);
       opacity: 0;
    }

    100%{
      
        transform: translateX(0);
        opacity: 100%;
    }



}

.nav-anim{
    animation: nav 1.5s linear;
/* background-color: rgb(26, 25, 25); */
}

@keyframes nav {
    from{
        /* transform: translateY(-100px); */
        opacity: 0;
    }
}

.section2-bg{
    /* background:#0004 url("url(assets/Demystifying-JavaScript-A-Beginners-Guide.jpg")) ; */
    background:hwb(0 5% 95% / 0.856) url(assets/images/Demystifying-JavaScript-A-Beginners-Guide.jpg) ;
    background-blend-mode: multiply;
}

.sec2-text-h1{
animation: sec2-text-h1 1s linear;

}

.sec2-text-p{
    animation: sec2-text-p 1s linear;
}
@keyframes sec2-text-h1{
    from{
        font-size: 5px;
    }
}

@keyframes sec2-text-p{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
}

.circle{
    border-radius: 100%;
}